// custom variables
$grid-breakpoints: (
    xxs: 0,
    xs: 320px,
    sm: 676px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

// import bootstrap
@import '../../../node_modules/bootstrap/scss/bootstrap';
