@font-face {
    font-family: "Ubuntu-Bold";
    src: url("../fonts/Ubuntu-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ubuntu-Regular";
    src: url("../fonts/Ubuntu-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "BebasNeueBold";
    src: url("../fonts/BebasNeueBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}