// @media (max-width: 320px) {
//     .presents__item {
//         &::before {
//             display: none;
//         }
//     }
//     #timer273db5fa0c10f54d52a7e28dce997d12 {
//         min-width: 0 !important;
//     }
//     .card {
//         width: auto;
//     }
//     .presents__number {
//         width: 54px;
//         height: 76px;
//     }
//     .about__speaker {
//         left: 10%;
//         top: 94%;
//         width: 100%;
//         font-size: 16px;
//     }
//     .registration__button {
//         font-size: 28px;
//     }
// }

@media (max-width: 768px) {

}
@media (max-width: 992px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 1400px) {
    .presents__item {
        &::before {
            top: 75%;
            left: 105%;
            transform: rotate(125deg);
        }
    }
    .presents__item_second {
        &::before{
            top: 115%;
            left: -15%;
            transform: rotate(-125deg);
        }
    }
}
