@import "./reset.scss";
@import "./vars";
@import "./fonts";

body {
    position: relative;
    background-color: $white-color;
}

.container {
    max-width: 1155px;
    margin: 0 auto;
}

//  MODIFICATIORS

.yellow-bg {
    background-color: $yellow-color;
}

//

.header {
    z-index: 1;
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: auto;
    top: 0;
    left: auto;
    right: auto;
    &__number {
        @extend %ub-bold;
        font-size: 24px;
        color: #090909;
        display: block;
        text-align: end;
    }
}
.about {
    @extend %ub-regular;
    position: relative;
    padding-top: 140px;
    min-height: 1190px;
    background-image: url(../images/header_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__date-icon {
        width: 30px;
        height: 30px;
    }
    &__date {
        @extend %ub-regular;
        font-size: 32px;
        color: $black-color;
        margin-left: 10px;
    }
    &__title {
        @extend %bebas-bold;
        font-size: 68px;
        color: $black-color;
        text-transform: uppercase;
    }
    &__speaker {
        width: 200px;
        position: absolute;
        top: 70%;
        left: 65%;
        @extend %ub-regular;
        font-size: 20px;
        color: $white-color;
    }
}
.advantage-list {
    &__item {
        @extend %ub-regular;
        font-size: 20px;
        color: $black-color;
    }
    &__title {
        @extend %ub-bold;
        font-size: 24px;
        color: $black-color;
    }
    &__icon {
        width: 22px;
        height: 22px;
    }
}
.registration {
    &__title {
        @extend %ub-bold;
        font-size: 20px;
        color: $white-color;
    }
    &__button {
        @extend %ub-bold;
        transition: 0.2s linear;
        width: 100%;
        font-size: 32px;
        margin: 6px 0 30px 0;
        padding: 26px 50px;
        color: $white-color;
        background: linear-gradient(90deg, #5800e8 0%, #7d2dff 98.44%);
        box-shadow: 0px 0px 26px 3px rgba(53, 53, 53, 0.38);
        border-radius: 48px;
    }
}
.timetable {
    margin-top: 100px;
    &__title {
        display: inline;
        @extend %bebas-bold;
        font-size: 68px;
        color: $black-color;
        text-transform: uppercase;
    }
}
.card {
    width: 362px;
    min-height: 562px;
    padding: 30px 34px;
    background: $white-color;
    border: 2px solid #fd6108;
    border-radius: 25px;
    &__title-main {
        @extend %ub-bold;
        font-size: 28px;
        color: $black-color;
        text-transform: uppercase;
    }
    &__title {
        @extend %ub-bold;
        font-size: 20px;
        color: $black-color;
    }
    &__subtitle {
        @extend %ub-regular;
        font-size: 16px;
        color: #fd6a0a;
    }
}

@import "./media";
