@import "./reset";
@import "./custom";
@import "./vars";
@import "./fonts";

body {
    position: relative;
    background-color: $white-color;
}

.header {
    z-index: 1;
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: auto;
    top: 0;
    left: auto;
    right: auto;
    &__number {
        @extend %ub-bold;
        font-size: 24px;
        color: #090909;
        display: block;
        text-align: end;
        transition: 0.25s linear;
        &:hover {
            color: $white-color;
        }
    }
}
.about {
    @extend %ub-regular;
    position: relative;
    padding-top: 140px;
    min-height: 1190px;
    background-image: url(../images/header_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &__date-icon {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    &__date {
        @extend %ub-regular;
        font-size: 32px;
        color: $black-color;
    }
    &__title {
        @extend %bebas-bold;
        font-size: 68px;
        color: $black-color;
        text-transform: uppercase;
    }
    &__speaker {
        width: 200px;
        position: absolute;
        top: 70%;
        left: 65%;
        @extend %ub-regular;
        font-size: 20px;
        color: $white-color;
    }
}

.registration {
    &__item {
        text-align: center;
    }
    &__title {
        @extend %ub-bold;
        font-size: 20px;
        color: $white-color;
    }
    &__button {
        width: 100%;
        font-size: 32px;
        margin: 6px 0 30px 0;
        padding: 26px 50px;
        box-shadow: 0px 0px 26px 3px rgba(53, 53, 53, 0.38);
        border-radius: 48px;
    }
    &__image {
        width: 100%;
    }
}
.timetable {
    margin: 100px 0 200px 0;
    &__slider-item {
        display: flex;
        justify-content: center;
        flex: 1 0 auto;
        height: 100%;
    }
    .owl-dots {
        text-align: center;
        margin-top: 34px;
    }
    .owl-dots button.owl-dot {
        width: 17px;
        height: 16px;
        border-radius: 50%;
        background: rgba(93, 6, 235, 0.5);
        margin: 0 3px;
    }
    .owl-dots button.owl-dot.active {
        background: #5d06eb;
    }
}
.card {
    width: 362px;
    height: 100%;
    min-height: 562px;
    padding: 30px 34px;
    background: $white-color;
    border: 2px solid $orange-color;
    border-radius: 25px;
    &__title_main {
        @extend %ub-bold;
        font-size: 28px;
        color: $black-color;
        text-transform: uppercase;
    }
    &__list {
        height: 100%;
    }
    &__date {
        @extend %ub-regular;
        font-size: 16px;
        color: $orange-color;
    }
}
.rules {
    padding: 100px 0 130px 0;
    background-image: url(../images/rules_background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    &__card {
        display: flex;
        align-items: center;
        background: $white-color;
        border-radius: 25px;
        padding: 20px 32px;
    }
    &__card-small {
        height: 100%;
    }
    &__icon {
        fill: transparent;
        margin-right: 28px;
    }
    &__icon_first {
        width: 44px;
        height: 54px;
    }
    &__icon_second {
        width: 42px;
        height: 58px;
    }
    &__icon_third {
        width: 52px;
        height: 50px;
    }
}
.presents {
    margin: 150px 0 165px 0;
    &__item {
        position: relative;
        &::before {
            content: url(../images/arrw_right.svg);
            position: absolute;
            top: -35%;
            left: 95%;
        }
    }
    &__item_second {
        position: relative;
        &::before {
            content: url(../images/arrw_left.svg);
            position: absolute;
            top: -55%;
            left: -10%;
        }
    }
    &__title {
        text-transform: uppercase;
        color: $orange-color;
        line-height: 26px;
    }
    &__description {
        @extend %bebas-bold;
        font-size: 32px;
        line-height: 36px;
        text-transform: uppercase;
    }
    &__subtitle {
        @include title;
    }
    &__number {
        margin-right: 32px;
    }
    &__image {
        display: block;
    }
}

.reviews {
    margin: 150px 0 200px 0;
    &__comment {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 7;
    }
    &__slider-item {
        display: flex;
        justify-content: center;
        flex: 1 0 auto;
        height: 100%;
    }
    &__col_second {
        margin: 0 20px 0 20px;
    }
    &__button {
        border: 1px solid #5e07eb;
        background: $white-color;
        color: $black-color;
        width: 238px;
        border-radius: 80px;
        padding: 15px 0;
    }
    &__button.active {
        color: $white-color;
        background: linear-gradient(90deg, #5800e8 0%, #7d2dff 98.44%);
        border-radius: 80px;
        padding: 15px 0;
    }
    &__card {
        width: 208px;
        min-height: 261px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid #fd6108;
        border-radius: 25px;
        padding: 10px 10px;
    }
    .reviews__card.active {
        background: linear-gradient(180deg, #ffae18 0%, #fd5907 75.35%);
        .reviews__image.reviews__image {
            border: 2px solid $white-color;
        }
        .reviews__name {
            color: $white-color;
        }
    }
    .reviews__image.reviews__image {
        border-radius: 100%;
        border: 2px solid #fd6108;
        width: 120px;
        height: 120px;
        padding: 2px;
    }
    .reviews__image_main {
        width: 275px !important;
        height: 275px !important;
        padding: 5px;
    }
    &__name {
        text-align: center;
    }
    // &__card.active {
    //     background: linear-gradient(180deg, #ffae18 0%, #fd5907 75.35%);
    // }
    // .reviews__image.active {
    //     border: 2px solid $white-color;
    // }
    // &__name.active {
    //     color: $white-color;
    // }
}

.event {
    padding: 170px 0 60px 0;
    background-image: url(../images/event_background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.counter {
    margin-top: 64px;
    text-align: center;
    &__title {
        @extend %bebas-bold;
        text-transform: uppercase;
        font-size: 20px;
        color: $black-color;
        letter-spacing: 2px;
        line-height: 23px;
    }
    .timer-separator {
        color: #701df7 !important;
    }
    #timer-text-273db5fa0c10f54d52a7e28dce997d12-hours,
    #timer-text-273db5fa0c10f54d52a7e28dce997d12-minutes,
    #timer-text-273db5fa0c10f54d52a7e28dce997d12-days {
        text-transform: uppercase !important;
        margin-top: 5px !important;
        font-family: Ubuntu Regular, sans-serif !important;
    }
    .timer-flipchart-top.timer-flipchart-face,
    .timer-flipchart-back.timer-flipchart-face {
        font-family: Ubuntu-Bold, sans-serif !important;
    }
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fe810f;
    border-radius: 25px;
    min-height: 525px;
    &__input {
        @include title;
        font-size: 20px;
        max-width: 340px;
        width: 100%;
        padding: 22px;
        background: rgba(255, 255, 255, 0.87);
        border-radius: 8px;
    }
    &__policy {
        display: flex;
        align-items: center;
        padding: 5px 10px;
    }
    &__checkbox {
        display: none;
    }
    input[type="checkbox"]:checked + label::before {
        background-image: url(../images/checkbox.svg);
        background-size: 75%;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__description {
        transition: 0.25s linear;
        &:hover {
            color: rgba(255, 255, 255, 0.87);
        }
        &::before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 25px;
            height: 25px;
            background: $white-color;
            border: none;
            border-radius: 3px;
            margin-right: 5px;
        }
    }
    &__button {
        border-radius: 60px;
        padding: 20px 0;
        max-width: 340px;
        width: 100%;
    }
}

.footer {
    background: #404143;
    padding: 65px 0;
    &__logo {
        margin-bottom: 5px;
    }
}
.social {
    display: flex;
    &__item {
        margin-right: 10px;
    }
    :last-child {
        margin-right: 0;
    }
    &__icon {
        width: 33px;
        height: 33px;
        transition: 0.25s linear;
        transform: scale(1);
        &:hover {
            transform: scale(1.1);
        }
    }
}
.contacts {
    &__number,
    &__email {
        @extend %ub-bold;
        color: $white-color;
        font-size: 18px;
        text-transform: uppercase;
    }
    &__item {
        margin-bottom: 2px;
    }
    &__number,
    &__email {
        transition: 0.25s linear;
        &:hover {
            color: $black-color;
        }
    }
    :last-child {
        margin-right: 0;
        margin-bottom: 0;
    }
}
.requisites {
    &__item {
        @extend %ub-regular;
        color: #dbdbdb;
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    :last-child {
        margin-bottom: 0;
    }
}
.policy {
    &__item {
        @extend %ub-regular;
        color: #a7a7a7;
        font-size: 12px;
        margin-bottom: 10px;
    }
    :last-child {
        margin-bottom: 0;
    }
}
@import "./media";
