$white-color: #FFF;
$black-color: #000;
$yellow-color: #fde509;
$orange-color: #fd6a0a;

%ub-bold {
    font-family: "Ubuntu-Bold";
    font-weight: 700;
}

%ub-regular {
    font-family: "Ubuntu-Regular";
    font-weight: 400;
}

%bebas-bold {
    font-family: "BebasNeueBold";
    font-weight: 700;
}
