$white-color: #fff;
$black-color: #000;
$yellow-color: #fde509;
$orange-color: #fd6a0a;

%ub-bold {
    font-family: "Ubuntu-Bold";
    font-weight: 700;
}

%ub-regular {
    font-family: "Ubuntu-Regular";
    font-weight: 400;
}

%bebas-bold {
    font-family: "BebasNeueBold";
    font-weight: 700;
}

@mixin title {
    @extend %ub-regular;
    color: $black-color;
}
@mixin subtitle {
    @extend %ub-bold;
    color: $black-color;
}


// /.vars

.btn_review.btn_review {
    @extend %ub-regular;
    background: #e7e7e7;
    color: $black-color;
    border-radius: 80px;
}

.btn {
    @extend %ub-bold;
    transition: 0.2s linear;
    color: $white-color;
    background: linear-gradient(90deg, #5800e8 0%, #7d2dff 98.44%);
}

svg {
    flex-shrink: 0;
    fill: transparent;
}

.yellow-bg {
    padding: 0 8px;
    background-color: $yellow-color;
}

.yellow-bg_big {
    font-size: 40px;
}

.title-section {
    display: inline;
    @extend %bebas-bold;
    font-size: 68px;
    color: $black-color;
    text-transform: uppercase;
}
.title-section_event {
    font-size: 32px;
}

.title {
    @extend %ub-bold;
    font-size: 20px;
    line-height: 22px;
    color: $black-color;
}

.description.description {
    @extend %ub-regular;
    font-size: 16px;
    line-height: 20px;
    color: #323232;
}

.list {
    &__item {
        @extend %ub-regular;
        font-size: 20px;
        color: $black-color;
    }
    .list__item-reviews.list__item-reviews {
        @extend %ub-bold;
    }
    &__title {
        @extend %ub-bold;
        font-size: 24px;
        color: $black-color;
    }
    &__icon {
        width: 22px;
        height: 22px;
        margin-right: 6px;
    }
    &__title-worker {
        font-size: 36px;
    }
    &__title-reviews {
        font-size: 32px;
    }
}

// /.main classes