$white-color: #fff;
$black-color: #000;
$yellow-color: #fde509;
$orange-color: #FD6A0A;

%ub-bold {
    font-family: "Ubuntu-Bold";
    font-weight: 700;
}

%ub-regular {
    font-family: "Ubuntu-Regular";
    font-weight: 400;
}

%bebas-bold {
    font-family: "BebasNeueBold";
    font-weight: 700;
}

@mixin title {
    @extend %ub-regular;
    color: $black-color;
}
@mixin subtitle {
    @extend %ub-bold;
    color: $black-color;
}

.yellow-bg {
    background-color: $yellow-color;
}

.title-section {
    display: inline;
    @extend %bebas-bold;
    font-size: 68px;
    color: $black-color;
    text-transform: uppercase;
}

.title {
    @extend %ub-bold;
    font-size: 20px;
    line-height: 22px;
    color: $black-color;
}

.description {
    @extend %ub-regular;
    font-size: 16px;
    line-height: 20px;
    color: #323232;
}